body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;

  background: #302650;
  backdrop-filter: blur(13.5px);
  color: white;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p,
span {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
.container {
  background: #03001C;
  max-width: 1440px;
  margin: 0 auto;

  border-radius: 30px;
}
::-webkit-scrollbar {
  width: 0;
}
header {
  background: rgba(3, 0, 28, 0.6);
  backdrop-filter: blur(13.5px);
  justify-content: space-between;

  height: 90px;

  margin: 0 120px 0 118px;
  align-items: center;
}
.header__img {
  height: 21px;
  width: 28px;
}
header, .nav__list {
  display: flex;
  flex-direction: row;
}
.nav__list {
  gap: 40px;
}
.nav__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;

  background: radial-gradient(100% 506.25% at 0% 0%, #F9F7FF 0%, #C9BCF1 49.22%, #C9BCF1 49.22%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.card {
  margin-left: 25px;
}
.header__option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sign__up {
  background: radial-gradient(100% 626.68% at 0% 0%, rgba(30, 19, 65, 0.6) 0%, rgba(57, 30, 138, 0.6) 49.19%, rgba(119, 94, 197, 0.6) 94.27%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 25px;

  margin-left: 35px;

  color: white;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  padding: 10px 21px 11px 22px;

  border: none;
}
.nav__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #EEEEEE;
}
.some-link__img {
  width: 45px;
  height: 45px;
}
.some-link__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;

  margin-left: 27px;
}
.some-link__text {
  color: white;
}
.slogan {
  height: 601px;
  padding-top: 21px;

  padding-left: 120px;
  padding-right: 129px;
  position: relative;
}
.slogan::after {
  content: "";
  position: absolute;
  width: 315px;
  height: 467px;
  left: -133px;
  bottom: -300px;
  
  background: radial-gradient(51.02% 51.02% at 27.19% 28.07%, #A394D2 0%, #5A4696 64.06%, #211449 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.4;
  filter: blur(175px);
  transform: rotate(53.99deg);

}

.slogan__item {
  display: flex;
  justify-content: space-between;
}
.big {
  position: relative;
}
.big__img {
  height: 601px;
  width: 601px;
  position: relative;
  z-index: 1;
}
.big::before {
  content: url(/assets/img/slogan/Ellipse.svg);

  z-index: 0;
  position: absolute;
  top: 12px;
  right: -23px;
}

.big::after {
  /* content: url(/assets/img/slogan/shadow.svg); */
  content: "";

  position: absolute;
  width: 496.45px;
  height: 734.85px;
  left: 1px;
  top: 0;

  background: radial-gradient(51.02% 51.02% at 27.19% 28.07%, #A394D2 0%, #5A4696 64.06%, #211449 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.4;
  filter: blur(175px);
  transform: rotate(106.5deg);
}
.slogan__heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 88px;

  background: radial-gradient(100% 506.25% at 0% 0%, #F9F7FF 0%, #C9BCF1 49.22%, #8A70DA 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 395px;
}
.slogan__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slogan__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  max-width: 367px;

  margin-top: 30px;
}
.slogan__call {
  background: radial-gradient(100% 626.68% at 0% 0%, rgba(30, 19, 65, 0.6) 0%, rgba(57, 30, 138, 0.6) 49.19%, rgba(119, 94, 197, 0.6) 94.27%);
  border-radius: 25px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  font-variant: all-small-caps;

  color: #FFFFFF;

  border-color: transparent;
  padding: 11px 58px;

}
.slogan__option {
  margin-top: 86px;
  display: flex;
}

.big__adv {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #EEEEEE;
}
.first__adv {
  position: absolute;
  top: 128px;
  left: -57px;

  max-width: 95px;
}
.first__adv::after {
  content: url(/assets/img/slogan/small-line.svg);
  position: absolute;
  left: 98px;
  top: -7px;
  z-index: 1;
}
.second__adv{
  position: absolute;
  left: 283px;
  bottom: 43px;
}
.second__adv::after {
  content: url(/assets/img/slogan/big-line.svg);
  position: absolute;
  bottom: 36px;
  left: 43px;
  z-index: 1;
}